@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f9eee8;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.addProject{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#projectName{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.menuBar {
    background-color: #a7d5d5;
    color: white;
    height: 7vh;
    justify-content: space-between;
    display: flex;
}

.credential{
    display: flex;
    justify-content: space-between;
}

.menuBar a {
    display: block; 
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.menuBar a:hover{
    background-color: #93a8be;
    border-radius: 3px;
    color: black;
}

.deleteButton{
    margin-left: 10px;
}