body {
    background-color: #146c94;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.menuBar {
    background-color: black;
    color: white;
    height: 7vh;
    justify-content: space-between;
    display: flex;
}

.credential{
    display: flex;
    justify-content: space-between;
}

.menuBar a {
    display: block; 
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.menuBar a:hover{
    background-color: white;
    color: black;
}