body {
    margin: 0;
    text-align: center;
    font-weight: normal;
}
img {
    width: 200px;
    height: 200px;
}
h1 {
    font-family: 'Sacramento', cursive;
    margin: 0;
    font-size: 5rem;
    color: #472183;
}
h2 {
    font-family: 'Coiny', cursive;
    font-size: 2.5rem;
    margin: 0;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: 'Coiny', cursive;
    color: #11999E;
    margin: 0;
}
h4{
    font-family: 'Coiny', cursive;
    color: #11999E;
    margin: 0;
}
p {
    line-height: 2;
    font-family: 'Coiny', cursive;
    color: #11999E;
}

.titlep {
    margin: 0 auto 50px auto;
}

.btn {
    background: #b5e0b0;
    background-image: -webkit-linear-gradient(top, #3cc9fc, #aad934);
    background-image: -moz-linear-gradient(top, #3cc9fc, #aad934);
    background-image: -ms-linear-gradient(top, #3cc9fc, #aad934);
    background-image: -o-linear-gradient(top, #3cc9fc, #aad934);
    background-image: linear-gradient(to bottom, #3cc9fc, #aad934);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Coiny', cursive;
    color: #ffe5ff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 10px 20px;
  }
  
.btn:hover {
    background: #3cc9fc;
    background-image: -webkit-linear-gradient(top, #b5e0b0, #a4bfe0);
    background-image: -moz-linear-gradient(top, #b5e0b0, #a4bfe0);
    background-image: -ms-linear-gradient(top, #b5e0b0, #a4bfe0);
    background-image: -o-linear-gradient(top, #b5e0b0, #a4bfe0);
    background-image: linear-gradient(to bottom, #b5e0b0, #a4bfe0);
    text-decoration: none;
  }

.logIn {
    background: #08d148;
    background-image: -webkit-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: -moz-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: -ms-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: -o-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: linear-gradient(to bottom, #B5F1CC, #FCC2FC);
    /* position: absolute; */
    color: #6C00FF;
    right: 50px;
    /* bottom: -38px; */
}
.signUp {
    background: #08d148;
    background-image: -webkit-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: -moz-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: -ms-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: -o-linear-gradient(top, #B5F1CC, #FCC2FC);
    background-image: linear-gradient(to bottom, #B5F1CC, #FCC2FC);
    /* position: absolute; */
    color: #6C00FF;
    right: 200px;
    /* bottom: -38px; */
}
  
.menuBar {
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    display: flex;
    background-color: #C9F4AA;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.logo {
    height: 70px;
    width: 70px;
    margin: 10px;
    /* position: absolute; */
    left: 20px;
}
.member {
    display: inline-block;
    margin: 10px 60px;
}
.introduction {
    background-color: #B5F1CC;
    height: 60vh;
    padding: 80px;
    margin-top:90px;
    line-height: 2;
    position: relative;
    
}
.aboutUs{
    background-color: #ADA2FF;
    height: 500px;
    position: relative;
    padding: 50px;
}
.member_avatar1 {
    position: absolute;
    left: 182px;
    top: 230px;
}
.member_avatar2 {
    position: absolute;
    left: 522px;
    top: 230px;
}
.member_avatar3 {
    position: absolute;
    left: 862px;
    top: 230px;
}
.cloud1 {
    width: 190px;
    height: 60px;
    position: absolute;
    left: 10vw;
    top: 45vh;
}
.cloud2 {
    width: 190px;
    height: 60px;
    position: absolute;
    left: 75vw;
    top: 20vh;
}
