@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    caret-color: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: large;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

p{
    margin: 10px;
}

.block-bar {
    
    height: 100%;
    width: 15.2vw;
    background-color: #7286D3;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    overflow-y: scroll; 
}

.block-bar::-webkit-scrollbar {
    display: none;
  }

.chart-section{
    min-height: 100vh;
    min-width: 83vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    flex-flow: column;
    background: white;
    position: relative;
    left: 17vw;
    z-index: 1;
}
.holder{
    min-height: 50px;
    min-width: 50px;
    background: transparent;
    border: 2px solid black;
    order: 2;
    margin: 0;
}
.space{
    min-height: 50px;
    min-width: 50px;
    background: transparent;
    border: 2px solid black;
    order: 2;
    margin: 0;
    flex: 4;
}
.codeBlock{
    min-height: 50px;
    min-width: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    margin: 0;
    flex-direction: column;
    border: 2px solid black;
    flex: 1;
}
.branch-container{
    min-height: 50px;
    min-width: 50px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    margin: 0;
    border: 2px solid black;
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border: 2px solid black;
}
.branch-statement{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.block {
    margin: 4vh 0;
    min-width: 10vw;
    min-height: 9vh;
    display: flex;
    background: yellow;    
    justify-content: center;
    align-items: center;
}
.parallelogram {
    transform: skewX(-10deg);
}
.rhombus {
    width: 2vw;
    height: 14vh;
    background: url(../resource/rhombus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    order: 5;
}

.oval {
    margin: 4vh 2vw;
    width: 10vw;
    min-height: 9vh;
    display: flex;
    background: yellow;    
    justify-content: center;
    align-items: center;
    height: 13vh;
    border-radius: 50%;
}

.hexagon { 
    margin: 4vh 0;
    width: 13vw;
    background: url(../resource/hexagon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.input{
    background: yellow;
    order: 1;
}
.output{
    background: red;
    order: 2;
}
.declare{
    background: yellow;
    order: 3;
}
.assign{
    background: red;
    order: 4;
}
.while{
    margin: 4vh 0;
    width: 13vw;
    background: url(../resource/hexagon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    order: 6;
}
.for{
    margin: 4vh 3vw;
    width: 13vw;
    background: url(../resource/hexagonred.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    order: 7;
}
.content {
    position: relative;
    bottom: 300px;
    left: 400px;
}
.begin{
    margin: 0;
    user-select: none;
    order: 1
}
.end{
    margin: 0;
    user-select: none;
    order: 3
}
.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    position: fixed;
}

.popup-content {
    position: absolute;
    top: 28%;
    left: 33%;
    width: 34%;
    height: 44%;
    background-color: transparent;
    text-align: center;
    border: 1px solid black;
}
.short{
    top: 28%;
    height: 44%;
}
.medium{
    top: 22.5%;
    height: 55%;
}
.tall{
    top: 17%;
    height: 66%;
}

.wide{
    left: 30%;
    width: 44%;
}

.close-popup {
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}
.close-popup:hover {
    background-color: red;
}

.short-blockName{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11.3%;
}
.short-blockDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 30%;
    position: relative;
}
.short-body{
    background-color: white;
    width: 100%;
    height: 58.6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.medium-blockName{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}
.medium-blockDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 25%;
    position: relative;
}
.medium-body{
    background-color: white;
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tall-blockName{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
}
.tall-blockDescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue;
    width: 100%;
    height: 22%;
    position: relative;
}
.tall-body{
    background-color: white;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    position: absolute;
    height: 100%;
    width: 63%;
    right: 10px;
    text-align: left;
}
.display{
    margin: 15px;
}
.display2{
    position: absolute;
    height: 80%;
    margin: 0;
    left: 3%;
}
.inputForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.outputForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.declareForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.assignForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.ifForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.whileForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.forForm{
    width: 100%;
    height: 100%;
    position: relative;
}
.popupLabel{
    position: absolute;
    left: 0;
    top: 0;
    margin: 5%;
}
.variableBar{
    position: absolute;
    width: 90%;
    height: 20px;
    top: 50px;
    left: 5%;
    caret-color: auto;
}
.okButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3%;
    width: 70px;
    height: 30px;
}
.outputTextarea{
    position: absolute;
    top: 50px;
    left: 5%;
    caret-color: auto;
    resize:none;
}
.typeLabel{
    position: absolute;
    top: 110px;
    left: 23px;
}
.typeString{
    position: absolute;
    top: 150px;
    left: 20px;
}
.typeInteger{
    position: absolute;
    top: 150px;
    left: 115px;
}
.typeDouble{
    position: absolute;
    top: 150px;
    left: 210px;
}
.typeBoolean{
    position: absolute;
    top: 150px;
    left: 305px;
}
.equalSign{
    position: absolute;
    top: 50px;
    left: 167px;
}
.expressionLabel{
    position: absolute;
    top: 20px;
    left: 190px;
}
.forTypeLabel{
    position: absolute;
    top: 27px;
    left: 286px;
}
.forTypeInteger{
    position: absolute;
    top: 55px;
    left: 310px;
}
.forTypeDouble{
    position: absolute;
    top: 55px;
    left: 390px;
}
.startValueLabel{
    position: absolute;
    left: 27px;
    top: 90px;
}
.endValueLabel{
    position: absolute;
    left: 287px;
    top: 90px;
}
.startValueBar{
    position: absolute;
    caret-color: auto;
    left: 27px;
    top: 110px;
    height: 20px;
    width: 213px;
}
.endValueBar{
    position: absolute;
    caret-color: auto;
    left: 287px;
    top: 110px;
    height: 20px;
    width: 213px;
}
.forDirectionLabel{
    position: absolute;
    left: 287px;
    top: 150px;
}
.forIncreaseDirection{
    position: absolute;
    top: 175px;
    left: 300px;
}
.forDecreaseDirection{
    position: absolute;
    top: 175px;
    left: 400px;
}
.forStepLabel{
    position: absolute;
    left: 27px;
    top: 150px;
}
.forStepBar{
    position: absolute;
    caret-color: auto;
    left: 27px;
    top: 170px;
    height: 20px;
    width: 213px;
}